#chartModal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartBox {
  background: #0b1220;
  border: 1px solid #1f2937;
  padding: 10px;
  border-radius: 10px;
}

#chartHeader {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}

#chartHeader button {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}